#mainHeader{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#mainHeader h1{
    margin: 0;
}

#centerBox{
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: fit-content;
}

#centerBoxContainer{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#formbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#formbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#formboxDiv{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 3vh;
    position: relative;
}

#formboxDiv input{
    margin-left: 10px;
}

#formboxDiv span{
    position:absolute;
    right: -85px;

}


