#mainHeader{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#mainHeader h1{
    margin: 0;
}

#centerBox{
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: fit-content;
}

#centerBoxContainer{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#formbox{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

#formbox >*{
    padding-top: 15px;
    padding-bottom: 15px;
}

#formbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#formboxDiv{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 10px;
    height: 3vh; text-align: right;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#formboxDiv >*{
    padding-left: 10px;
    padding-right: 10px;

}
#newbox{
    background-color: #f9f9f9;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: fit-content;
}



#formboxDiv span{
    text-align: left;
}



#formgrej{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
#formgrej >*{
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

#nygrej{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0 auto;
    justify-self: center;
    justify-content: left;
    text-align: center;
    width: 100%;
}
#nygrej >*{
    padding-left: 5px;
    padding-right: 5px;
}


